<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="login">
	<parameter name="name" value="18618618621" />
	<parameter name="passwd" value="a123456" />
    <test name="login" preserve-order="true"  verbose="1">
        <classes>
            <!-- <class name="init.Login" /> -->
            <class name="PublishGoods.PublishGoodsTest" />
        </classes>
    </test>
</suite>

